#cluster-map {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

#map {
    width: 100%;
    height: 300px;
}

#index-card {
    max-height: 300px;
}

.index-img {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
}

#card-carousel {
    max-width: 630px;
    max-height: 420px;
    min-width: 630px;
    min-height: 420px;
}

#carousel-img {
    max-width: 630px;
    max-height: 420px;
    min-width: 630px;
    min-height: 420px;
}